

@import url("assets/fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
/* Please do not use this import in production. You can download this font from here https://fontstorage.com/font/source-code-pro?from=jb. */
/* Please do not use this import in production. You can download this font from here https://fontstorage.com/font/roboto-mono?from=jb. */
@import "https://fonts.fontstorage.com/import/robotomono.css";
/*
	Roboto Mono, 1, 1 italic, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic
*/
/* Please do not use this import in production. You can download this font from here https://fontstorage.com/font/source-code-pro?from=jb. */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');


/* colour scheme */
:root {
    --background-color: #212121ff;
    --background-color-secondary: #333333ff;
    --accent: #ef75bc;
    --text: #EAE4E5ff;
    --text-two: #CCCCCCff;
}

html{
    scroll-behavior: smooth;
}


/* Reset default margin and padding */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;

}
body{
    counter-reset: css-counter 0;
    width: 100vw;
    overflow-x: clip;
}

/* Set box-sizing to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;

}


/* Set default font and background color */

body, input, select, textarea,span,div,section{
    color: var(--text);
    background-color: var(--background-color-secondary);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;

}
b{
    color: var(--accent);
}

.hero{
    padding-top: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.hero h1{
    padding-top: 2vw;
    text-align: left;
    font-size: clamp(40px, 8vw, 100px);
    padding-bottom: 2vw;
}
.hero h2{
    text-align: left;
    font-size: clamp(40px, 8vw, 100px);
}
.hero h3{
    font-family: 'Source Code Pro', monospace;
    font-style:normal;
    font-size: 1rem;
    color: var(--accent);

}
.hero p{
    width: 40vw;
}

h2 span.typed-text {
    padding-left: 15px;
    text-align: left;
    font-size: clamp(40px, 8vw, 100px);
    color: var(--accent);
}
h2 span.cursor {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--accent);
    margin-left: 0.1rem;
    height: clamp(40px, 8vw, 100px);
    width: clamp(4px, 4px, 10px);
    animation: blink 1s infinite;

}
h2 span.cursor.typing {
    animation: none;

}
@keyframes blink {
    0%  { background-color: var(--accent); }
    49% { background-color: var(--accent); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: var(--accent); }
}

.section-heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%;
    white-space: nowrap;
    counter-increment: css-counter 1;

}
.section-heading::after{
    content: "";
    display: block;
    position: relative;
    width: 30%;
    height: 1px;
    margin-left: 20px;
    background-color: var(--text);
}
.section-heading::before{
    position: relative;
    content: "0" counter(css-counter) ".";
    margin-right: 10px;
    font-family: "Roboto Mono", serif;
    font-style: italic;
    color: var(--accent);
    font-size: 2rem;
    font-weight: 400;
}
.subsection{

    margin-top: 5vw;


    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    position: relative;

}


#blur{

    display: none;
    position: fixed;
    height: 100vh;
    width:100vw;
    background: rgba(33,33,33,0.5);
    backdrop-filter: blur(10px);
    z-index: 1;


}
#blur.visible{
    display: block;
    position: fixed;
    height: 100vh;
    width:100vw;
    background: rgba(33,33,33,0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
    animation: fadeInBlur 0.75s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.burg-nav {
    position: absolute;
    z-index: 1;
}

.nav-details {
    position: absolute;
    width: 50px;
    z-index: 10;
}

.nav-details summary {
    outline: none;
}

.nav-details[open] {
    position: static;
}

.hamburger-menu{
    position: absolute;
    z-index: 5;
    visibility: hidden;
}

#menu__toggle {
    display: none;
    opacity: 0;
    visibility: hidden;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
    counter-reset: menucounter 0;
}



.menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--background-color);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--text-two);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    counter-increment: menucounter 1;
}
.menu__item::before{
    content: "0" counter(menucounter) ".";
    color: var(--accent);
    font-size: 1rem;
    text-align: right;
    font-family: "Roboto Mono", serif;
    font-style: italic;
}


.menu__item:hover {
    background-color: var(--background-color-secondary);
    color: var(--accent);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    counter-reset: navcounter 0;
}
.topnav-right li a{
    text-decoration:none;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--text-two);
    counter-increment: navcounter 1;
    vertical-align: middle;

}

.topnav-right li a::before{
    content: "0" counter(navcounter) ".";

    color: var(--accent);
    font-size: 1rem;
    text-align: right;
    font-family: "Roboto Mono", serif;
    font-style: italic;

}
.topnav-right li a:hover{
    color: var(--accent);

}


.certificates{
    padding-top: 10vw;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 10vw;
}



.badge {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    display:inline-block;
    width: max-content;
    color: var(--accent);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--accent);
    transition: 0.3s ease;
}

.badge:hover {

    transform: translateX(5px) translateY(-5px);
    box-shadow: -5px 5px var(--accent);
    transition: .3s ease;

}



.work-experience{
    padding: 0 300px;
}
.work-experience ul {
    color: var(--text);
}
.work-experience li::before{

    content: "\e4e2";
    transform:rotate(49deg)translateY(6px)translateX(6px);
    /*noinspection CssInvalidFunction,CssUnresolvedCustomProperty*/
    font:var(--fa-font-solid);
    position: absolute;
    left: 0;
    color: var(--accent);
}
.work-experience li{
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}

.cert-section{
    padding-left: 5vw;
    padding-right: 5vw;
}




.button {
    padding: 10px 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    text-transform: uppercase;
    display:inline-block;
    width: max-content;
    background-color: var(--background-color-secondary);
    color: var(--accent);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--accent);
    transition: 0.3s ease;
}

.button:hover {

    transform: translateX(5px) translateY(-5px);
    box-shadow: -5px 5px var(--accent);
    transition: .3s ease;

}
.hover{
    transform: translateX(5px) translateY(-5px);
    display:inline-block;
    width: max-content;
    color: var(--accent);
    text-decoration: none;
    transition: 0.3s ease;
}

.hover::after{
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 3px; /* Adjust the border-radius value as desired */
    transition: transform 0.3s ease;
    box-shadow: 0 0 0 2px var(--accent);
    z-index: -1;
}
.hover i {
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.hover:hover i {
    transform: translate(15px, 15px);

}

.hover:hover::after {
    transform: translate(-15px, -15px);
}






#workdropdown details:hover{
    color: var(--accent);
    transition: ease-in-out 0.1s ;

}


/* Remove default list styling */
ul, ol {
    list-style: none;
    color: #666;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}


.compact-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 1vw; /* Gap between grid items */
    margin-bottom: 10px;
    color: var(--text-two);
}


.row {
    display: flex;
    flex-direction: row;



}

.column {
    display: flex;
    flex-direction: column;


}

.carousel-container {
    text-align: left;
    position: relative;
    display: flex;
    width: 50vw;
    overflow: hidden;
    font-size: 1.25rem;

}
.carousel-item {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    horiz-align: center;
}

.carousel-item.active {
    opacity: 1;
    horiz-align: center;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    width: max-content;

}

.navigation-bar button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--text-two);
    border: 0;
    border-left: 2px solid var(--text-two);
    font-size: 1.1rem;

}
.navigation-bar button:hover{
    background-color: var(--background-color);
    color: var(--accent);

}


.side-strip-left{
    position: fixed;
    bottom: 0;
    left: 2vw;
    right: auto;
    z-index: 10;
    background-color: transparent;

}
.side-strip-left ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;

}
.side-strip-left ul li{
    margin-top: 10px;

}
.side-strip-left ul li:hover a{
    color: var(--accent);
    transform: translateY(-4.5px);
}


.side-strip-left ul::after{
    content: "";
    margin-top: 20px;

    display: block;
    width: 1px;
    height: 100px;
    background-color: var(--text-two);
}
.side-strip-left ul li a{
    color: var(--text-two);
    font-size: 30px;
    transition: transform 0.4s ease-out;

}


#workdropdown details summary::-webkit-details-marker {
    display: none;
}

#workdropdown details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

#workdropdown details summary:after {
    content: '\f078';
    /*noinspection CssUnresolvedCustomProperty*/
    font: var(--fa-font-solid);
    position: relative;
    font-size: 1.75rem;
    transform-origin: center;

}
#workdropdown details[open] summary:before {
    animation: open 1.5s ease-in-out;
}
#workdropdown details[open] summary:after {
    content: '\f00d';
    position: relative;
    transform-origin: center;
    animation: open 1.5s ease-in-out;

}

#workdropdown details summary {
    outline: 0;
}
#workdropdown details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}



/* Header section */
#header {
    text-align: center;
    vertical-align: center;
}



#header p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}


#header .actions {
    margin-top: 2rem;
}

#header .actions li {
    margin: 0 0.5rem;
}

/* CV section */
#CVsection {
    padding: 4rem 0;
    text-align: center;
}

#CVsection h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#CVsection p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}




/* Two section */
#Projects {
    padding: 4rem 0;
    text-align: center;
}

#Projects h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}


/* Footer section */


#footer {
    padding: 3rem 0;
    text-align: center;
}

#footer .icons li {
    display: inline-block;
    margin: 0 0.5rem;

}

#footer .icons a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.visible {
    opacity: 1;
}
.fade-load {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.fade-load.visible {
    opacity: 1;
}

.slide-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}



.featuredContent{
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    text-align: left;
}


.featureList:nth-of-type(2n+1) .featuredContent{
    grid-column: 7 / -1;
    text-align: right;
}








.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( min(500px,100%), 1fr));
    grid-gap: 20px;
    row-gap: 20px;
    overflow: hidden;
    padding-top:10px;
    overflow-wrap: break-word;
}
.card-grid.show-all {
    max-height: none;

}

.card {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    position: relative;
}
.card-hidden{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
}
.card-inner:hover{
    /* CSS styles for the hover effect */
    /* For example, you can add a box shadow and change the background color */
    transform:translateY(-9px);
    transition: ease 0.5s;
}
.card-inner:hover a{
    /* CSS styles for the hover effect */
    /* For example, you can add a box shadow and change the background color */
    color: var(--accent);
    transition: ease 0.5s;
}
.card-inner:hover h3{
    color: var(--accent);
    transition: ease 0.5s;
}

.card-inner i{
    color: var(--accent);
    text-decoration: none;
    font-size: 40px;

}
.card-inner{
    padding: 2rem 1.75rem;
}
.card-inner .top{
    text-decoration: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 35px;
}
.card-inner a{
    font-size: 22px;
    color: var(--text);
    padding-bottom: 10px;
}

.card-inner ul{
    position: relative;
    left: -10px;
    margin-bottom: 40px;
    text-align: left;
}

.card-inner li {
    display: inline-block;
    float: left;
    padding-left: 10px;
    white-space: nowrap;
}


.card-inner h3{
    text-align: left;
}
.card-inner p{
    text-align: left;
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    position: relative;


}

@keyframes fadeInBlur {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }


}

@keyframes fadeIn {
    0% {
        opacity: 0;transform: translateY(100%);
    }
    100% {
        opacity: 1;transform: translateY(0);
    }


}



#see-more-button {
    margin: 20px auto;
}




/* Responsive Styles */

/* For tablets and larger screens */
@media (min-width: 1370px) {


    .hero{
        height: 60vw;
        padding-top: 10vw;
        padding-left: 15vw;
        padding-right: 10vw;

    }
    #header p {
        padding-left: 10px;
    }
    .hero h3 {
        padding-left: 10px;
    }

    .hover{
        margin-left: 9vw;
    }

    /* Adjust header padding */
    .carousel-container{
        height: 500px;
    }
    .portfolio-section{
        padding-top: 1vw;
        padding-left: 20vw;
        padding-right: 20vw;
    }
    /* Adjust CV section padding */
    #CVsection {

    }

    /* Adjust Two section padding */
    #Projects {

    }

    /* Adjust footer padding */
    #footer {
        padding: 6rem 0;
    }
    .footerIcons {
        visibility: hidden;
    }
    .project-section{
        padding: 0 300px;
    }
}


/* For mobile devices */
@media (max-width: 1369px) {
    /* Reduce header padding */
    .hero{
        height: 100svh;
    }
    .hero p{
        width: 80vw;
    }
    .project-section{
        padding: 0 25px;
        box-sizing: inherit;
    }

    #header {
    }
    .portfolio-section{
        padding-top: 10vw;
        padding-left: 5vw;
        padding-right:5vw;
    }
    /* Reduce CV section padding */


    /* Reduce Two section padding */
    #Projects {
        padding: 4rem 0;
    }

    /* Reduce footer padding */
    #footer {
        padding: 2rem 0;
    }

    /* Stack list items vertically */
    #header .actions li {
        display: block;
        margin: 1rem 0;
    }
    .navigation-bar{
        display: flex;
        width: max-content;
        max-width: 90vw;
        horiz-align: right;
        flex-direction: row;
        font-size: 1.25rem;

    }
    .row{
        flex-direction: column;
    }


    .side-strip-left{
        visibility: hidden;
    }

    .column{
        horiz-align: center;
    }
    .navigation-bar button {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: transparent;
        color: var(--text-two);
        border: 0;
        border-left: none;
        border-bottom: 2px solid var(--text-two);
        font-size: 1.1rem;

    }
    .carousel-container{
        text-align: left;
        vertical-align: top;
        position: relative;
        width:100%;
        height: 1400px;
    }
    .compact-list{
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
    }


    .topnav-right{
        visibility: hidden;
    }
    .hamburger-menu{
        visibility: visible;
    }
    .mob-only{
        position: relative;
        margin-left: 5%;
    }



    .scrolling{
        position: relative;
        align-self: center;
        text-align: center;
        height: fit-content;
        padding:10px;
        white-space: nowrap;
        overflow: auto;
        margin:auto;
        scroll-snap-type: x mandatory;
    }
    .scrolling > *{
        scroll-snap-align: start;
    }


}

@media (max-width: 480px){
    .work-experience{
    padding: 0 25px;}
}
