

@import url("assets/fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
/* Please do not use this import in production. You can download this font from here https://fontstorage.com/font/source-code-pro?from=jb. */
/* Please do not use this import in production. You can download this font from here https://fontstorage.com/font/roboto-mono?from=jb. */
@import "https://fonts.fontstorage.com/import/robotomono.css";
/*
	Roboto Mono, 1, 1 italic, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic
*/
/* Please do not use this import in production. You can download this font from here https://fontstorage.com/font/source-code-pro?from=jb. */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');


/* colour scheme */
:root {
    --background-color: #212121ff;
    --background-color-secondary: #333333ff;
    --accent: #ef75bc;
    --text: #EAE4E5ff;
    --text-two: #CCCCCCff;
}




/* Reset default margin and padding */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;

}
body{
    counter-reset: css-counter 0
}

/* Set box-sizing to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;

}


/* Set default font and background color */

body, input, select, textarea,span,div,section{
    color: var(--text);
    background-color: var(--background-color-secondary);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;

}
b{
    color: var(--accent);
}

.hero{
    height: 60vw;
    padding-top: 10vw;
    padding-left: 20vw;
    padding-right: 10vw;

}
.hero h1{
    padding-top: 2vw;
    text-align: left;
    font-size: clamp(40px, 8vw, 100px);
    padding-bottom: 2vw;
}
.hero h2{
    padding-top: 2vw;
    text-align: left;
    font-size: clamp(40px, 8vw, 100px);
    padding-bottom: 3vw;
}
.hero h3{
    font-family: 'Source Code Pro', monospace;
    font-style:normal;
    font-size: 1rem;
    color: var(--accent);
}
.hero p{
    width: 40vw;
}




.section-heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 40px;
    width: 100%;
    white-space: nowrap;
    counter-increment: css-counter 1;

}
.section-heading::after{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background-color: var(--text);
}
.section-heading::before{
    position: relative;
    content: "0" counter(css-counter) ".";
    margin-right: 10px;
    font-family:"Roboto Mono";
    font-style: italic;
    color: var(--accent);
    font-size: 2rem;
    font-weight: 400;
}
.subsection{
    background-color: var(--background-color);
    margin-top: 5vw;
    border-radius: 15px;
}









.portfolio-section{
    padding-top: 1vw;
    padding-left: 20vw;
    padding-right: 20vw;
}
.work-experience{
    padding: 5vw;
}
.work-experience ul {
    color: var(--text);
}
.work-experience li::before{

    content: "\e4e2";
    transform:rotate(49deg)translateY(6px)translateX(6px);
    /*noinspection CssInvalidFunction,CssUnresolvedCustomProperty*/
    font:var(--fa-font-solid);
    position: absolute;
    left: 0px;
    color: var(--accent);
}
.work-experience li{
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}



.project-section{
    padding-left: 5vw;
    padding-right: 5vw;
}


.button {
    padding: 10px 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    text-transform: uppercase;
    display:inline-block;
    width: max-content;
    color: var(--accent);
    text-decoration: none;
    border-radius: 5px;
    border: 1.5px solid var(--accent);
    transition: 0.3s ease;
}

.button:hover {

    transform: translateX(5px) translateY(-5px);
    box-shadow: -5px 5px var(--accent);
    transition: .3s ease;

}
.hover{
    transform: translateX(5px) translateY(-5px);
    display:inline-block;
    width: max-content;
    color: var(--accent);
    text-decoration: none;
    transition: 0.3s ease;
    margin-left: 9vw;
}

.hover::after{
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 3px; /* Adjust the border-radius value as desired */
    transition: transform 0.3s ease;
    box-shadow: 0 0 0 2px var(--accent);
    z-index: -1;
}
.hover i {
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.hover:hover i {
    transform: translate(15px, 15px);

}

.hover:hover::after {
    transform: translate(-15px, -15px);
}



/* Remove default list styling */
ul, ol {
    list-style: none;
    color: #666;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}


.compact-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 1vw; /* Gap between grid items */
    margin-bottom: 10px;
    color: var(--text-two);
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.carousel-container {
    text-align: left;
    position: relative;
    display: flex;
    width: 70vw;
    overflow: hidden;
    font-size: 1.25rem;

}

.carousel-item {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    horiz-align: center;
}

.carousel-item.active {
    opacity: 1;
    horiz-align: center;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    width: max-content;

}

.navigation-bar button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--text-two);
    border: 0;
    border-left: 2px solid var(--text-two);
    font-size: 1.1rem;

}
.navigation-bar button:hover{
    background-color: var(--background-color);
    color: var(--accent);

}


.side-strip-left{
    position: fixed;
    bottom: 0px;
    left: 2vw;
    right: auto;
    z-index: 10;
    background-color: transparent;

}
.side-strip-left ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;

}
.side-strip-left ul li{
    margin-top: 10px;

}
.side-strip-left ul li:hover a{
    color: var(--accent);
    transform: translateY(-4.5px);
}


.side-strip-left ul::after{
    content: "";
    margin-top: 20px;

    display: block;
    width: 1px;
    height: 100px;
    background-color: var(--text-two);
}
.side-strip-left ul li a{
    color: var(--text-two);
    font-size: 30px;
    transition: transform 0.4s ease-out;

}




details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: '\f078';
    /*noinspection CssUnresolvedCustomProperty*/
    font: var(--fa-font-solid);
    position: relative;
    font-size: 1.75rem;
    transform-origin: center;

}
details[open] summary:before {
    animation: open 1.5s ease-in-out;
}
details[open] summary:after {
    content: '\f00d';
    position: relative;
    transform-origin: center;
    animation: open 1.5s ease-in-out;

}

details summary {
    outline: 0;
}
details p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}



/* Header section */
#header {
    text-align: center;
    vertical-align: center;
}



#header p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

#header .actions {
    margin-top: 2rem;
}

#header .actions li {
    margin: 0 0.5rem;
}

/* CV section */
#CVsection {
    padding: 4rem 0;
    text-align: center;
}

#CVsection h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#CVsection p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* Two section */
#Projects {
    padding: 4rem 0;
    text-align: center;
}

#Projects h2 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}


/* Footer section */


#footer {
    padding: 3rem 0;
    text-align: center;
}

#footer .icons li {
    display: inline-block;
    margin: 0 0.5rem;

}

#footer .icons a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}



/* Responsive Styles */

/* For tablets and larger screens */
@media (min-width: 1370px) {
    /* Adjust header padding */
    .carousel-container{
        height: 500px;
    }

    /* Adjust CV section padding */
    #CVsection {

    }

    /* Adjust Two section padding */
    #Projects {

    }

    /* Adjust footer padding */
    #footer {
        padding: 6rem 0;
    }
    .footerIcons {
        visibility: hidden;
    }
}


/* For mobile devices */
@media (max-width: 1369px) {
    /* Reduce header padding */
    .hero{
        height: fit-content;
    }
    .hero p{
        width: 80vw;
    }

    #header {
        padding: 2rem 0;
    }
    .portfolio-section{
        padding-top: 10vw;
    }
    /* Reduce CV section padding */
    #CVsection {
        margin-top: 20vw;
    }

    /* Reduce Two section padding */
    #Projects {
        padding: 4rem 0;
    }

    /* Reduce footer padding */
    #footer {
        padding: 2rem 0;
    }

    /* Stack list items vertically */
    #header .actions li {
        display: block;
        margin: 1rem 0;
    }
    .navigation-bar{
        display: flex;
        width: max-content;
        max-width: 90vw;
        horiz-align: right;
        flex-direction: row;
        font-size: 1.25rem;

    }
    .row{
        flex-direction: column;
    }


    .side-strip-left{
        visibility: hidden;
    }

    .column{
        horiz-align: center;
    }
    .carousel-container{
        text-align: left;
        vertical-align: top;
        position: relative;
        margin-left: 10vw;
        margin-right: 10vw;
        height: 1300px;
    }
    .compact-list{
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
    }

    .hover{
        position: relative;
        margin-left: 25%;
    }

}
